<div class="ihfo">
  <a mat-list-item href="https://sass-scss.ru/guide/" target="_blank">
    <button mat-raised-button color="warn">sass</button>
  </a>
  <a mat-list-item href="https://lesscss.ru/" target="_blank">
    <button mat-raised-button color="warn">less</button>
  </a>
  <a mat-list-item href="https://stylus-lang.com/" target="_blank">
    <button mat-raised-button color="warn">stylus</button>
  </a>

</div>
<div style="padding: 0 15px">
  <H2>Переменные</H2>
  <H3><table [innerHTML]="tableVar"></table></H3>

  <H2>{{'Интерполяция - #{}'}}</H2>
  <H3><table [innerHTML]="tableInt"></table></H3>

  <H2>Миксины </H2>
  <H3><table [innerHTML]="tableMix"></table></H3>

  <H2>Расширение/Наследование</H2>
  <H3><table [innerHTML]="tableExt"></table></H3>

  <H2>Функции</H2>
  <H3><table [innerHTML]="tableFunc"></table></H3>

  <H2>@for</H2>
  <H3><table [innerHTML]="tableFor"></table></H3>

  <H2>@each</H2>
  <H3><table [innerHTML]="tableEach"></table></H3>
</div>
